.add {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
}
.add label span {
  display: block;
  margin: 30px 0 10px;
}
.add p {
  margin-top: 10px;
  font-size: 0.8em;
}
.add button {
  display: block;
  width: 75px;
  height: 35px;
  font-size: 1.3em;
  color: #fff;
  padding-top: 4px;
  border: 0;
  border-radius: 5px;
  background-color: var(--main-clr);
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
}
.some-info {
  display: flex;
  align-items: center;
}
.some-info button {
  margin: 0 0 0 10px;
}
